{% extends "::base.html.twig" %}

{% block app_title %}{{ parent() }} inscription{% endblock app_title %}

{% block body %}
    <section class="row row-centered animated bounceInDown">
        <div class="col-xs-12 col-md-5 col-centered">
            <div id="register">
                <div id="register-title">
                    <h1>Inscription</h1>
                </div>

                <div id="register-form">
                    {{ form_start(form) }}
                        <div class="form-group">
                            <span class="glyphicon glyphicon-envelope"></span>
                            {{ form_label(form.email, "Email") }}
                            {{ form_widget(form.email, { 'attr' : { 'class' : 'form-control' } }) }}
                            {{ form_errors(form.email) }}

                            <span class="glyphicon glyphicon-user"></span>
                            {{ form_label(form.username, "Identifiant") }}
                            {{ form_widget(form.username, { 'attr' : { 'class' : 'form-control' } }) }}
                            {{ form_errors(form.username) }}

                            <span class="glyphicon glyphicon-lock"></span>
                            {{ form_label(form.plainPassword.first, "Mot de passe") }}
                            {{ form_widget(form.plainPassword.first, { 'attr' : { 'class' : 'form-control' } }) }}
                            {{ form_errors(form.plainPassword.first) }}

                            <span class="glyphicon glyphicon-lock"></span>
                            {{ form_label(form.plainPassword.second, "Re-saisissez le mot de passe") }}
                            {{ form_widget(form.plainPassword.second, { 'attr' : { 'class' : 'form-control' } }) }}
                            {{ form_errors(form.plainPassword.second) }}

                            {{ form_rest(form) }}
                        </div>

                        <button class="btn btn-success" type="submit">S'enregistrer</button>

                    {{ form_end(form) }}

                    <p class="text-center">Vous êtes déjà inscrit ? <a href="{{ path("fos_user_security_login") }}">Cliquez ici</a>.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
